<% provide(title: "ユーザー一覧") %>
<div class="container">
  <h1>ユーザー一覧</h1>
  <ul>
    <% @users.each do |user| %>
    <li>
      <%= link_to user.avatar_url(), target: "_blank" do %>
        <%= image_tag user.avatar_url(:thumbnail) %> 
      <% end %>
      <%= user.name %> <%= link_to '変更', "/admin/#{user.id}/edit" %> 
      <%= link_to 'ユーザー削除', "/users/#{user.id}", method: :delete, data: { confirm: '削除しますか？' } %>
    </li>
    <% end %>
  </ul>
</div>